* {
  box-sizing: border-box;
}

body {
  color: #fff;
  margin: 0;
}

header {
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  height: 48px;
  top: 40px;
  font-size: 20px;
  padding: 0 80px;
  /* min-width: 1440px; */
}

header a {
  text-decoration: none;
  color: #fff;
}

.logo {
  width: 98px;
  height: 46px;
}

.icon-fly,
.icon-x {
  width: 20px;
  height: 20px;
  margin-left: 25px;
  cursor: pointer;
}

.btn-launch {
  width: 137px;
  height: 48px;
  margin-left: 25px;
  cursor: pointer;
}

.bg {
  /* width: 1440px; */
  width: 100%;
}

/* main {
  min-width: 1440px;
} */

.contact-us {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 287.36111vw;
  left: 0;
  width: 100%;
  text-align: center;
}

.contact-us input {
  width: 424px;
  height: 48px;
  line-height: 48px;
  top: 4138px;
  left: 453px;
  border-radius: 5px;
  font-size: 14px;
  padding-left: 20px;
}

.contact-us img {
  width: 90px;
  height: 48px;
  margin-left: 20px;
  cursor: pointer;
}
