.popup-deposit {
  .color1 {
    color: rgba(170, 176, 231, 1);
  }

  .ant-modal-body {
    padding-top: 38px;
    color: #fff;
    font-size: 16px;
    padding-bottom: 74px;
  }

  .coins {
    margin-top: 10px;
  }

  .ant-select {
    width: 100%;
    height: 48px;
  }

  .ant-select-selector {
    background-color: transparent !important;
    border: 1px solid rgba(255, 255, 255, 0.15) !important;
  }

  .value-label,
  .ant-select-selection-item {
    display: flex;
    align-items: center;
    color: #fff !important;

    img {
      width: 20px;
      margin-right: 5px;
    }
  }

  .ant-select-arrow {
    color: #fff;
  }

  .btn {
    margin-top: 30px;
  }

  .t1 {
    font-size: 40px;
    font-weight: 500;
    line-height: 46.88px;
  }

  .box {
    border-radius: 10px;
    background: rgba(48, 57, 144, 1);
    padding: 15px;
    font-size: 14px;
    margin-top: 30px;

    .item {
      display: flex;
      justify-content: space-between;
      margin-top: 15px;
      line-height: 16.41px;
    }
  }

  .box1 {
    .item {
      label {
        color: rgba(170, 176, 231, 1);
      }
    }
  }

  .box2 {
    label,
    span {
      width: 100px;
      text-align: center;
    }

    .item {
      label:not(.c-main) {
        color: #fff;
      }
    }
  }

  .value-label {
    margin: 0 auto;
    font-size: 16px;
  }
}

.select-deposit {
  background: #26318d !important;

  .ant-select-item-option-selected {
    background-color: transparent !important;
  }

  .ant-select-item-option-content {
    display: flex;
    align-items: center;
    height: 50px;
    color: #fff !important;

    img {
      width: 20px;
      margin-right: 5px;
    }
  }
}
